.wrapper{
    width:97% !important;
    margin: auto;
}
.tracklistbox{float:left; margin:10px 5px; width:auto}
			.trackbox{display:block; float:left; background:#ccc; border-radius:4px; width:auto; padding:6px 10px; margin:0 5px; cursor:pointer;}
			.trackbox a{color:#333 !important; text-decoration:none; font-weight:bold;}
.trackingactive{
	background:#f79647 !important;
	color:#fff;
}