@font-face {
    font-family: 'Neue Haas Unica Pro Light';
    src: url('font/NeueHaasUnicaPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@page{size:A4;margin:0;}
@media print {
body {-webkit-print-color-adjust: exact;}
.page {margin: 0;border: initial;border-radius: initial;width: initial;min-height: initial;box-shadow: initial;background: initial;}
.subpage{padding:0;border: 1px solid rgba(202, 202, 202,0);height: 276mm;}
}
*{box-sizing: border-box;-moz-box-sizing: border-box;}
.tenumber{font-family: 'Neue Haas Unica Pro Light' !important;font-weight:normal !important; text-align:right !important;}
body {margin: 0;padding: 0;background-color: #FAFAFA;font: 12pt "Aller Light";}
.page{width: 21cm;padding: 0.5cm;margin: 0.5cm auto;border-radius: 5px;background: white;}
.subpage{padding:0;border: 1px solid rgba(202, 202, 202,0);height: 276mm;}
.page1{width: 21cm;padding: 0.5cm;margin: 0.5cm auto;border-radius: 5px;background: white;}
.subpage1{padding:0;border: 1px solid rgba(202, 202, 202,1);}
.OfferFullSheet{width:96%;color:#262626;margin: 0 auto; padding:5px;border-collapse:collapse;}
.OfferFullSheet td,.OfferFullSheet th{border: 1px solid rgb(202, 202, 202);}
.namecus{font-size:9pt;margin: 0;padding: 2px;}
.hei550{height:630px;max-height:630px;}
.OffDiv1{width: 10%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv2{width: 11%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv3{width: 12%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv4{width: 16%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv5{width: 12%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv6{width: 12%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv7{width: 13%;display: inline-block;text-align: center;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv8{width: 14%;display: inline-block;text-align: right;}

.OffDiv21{width: 54%;display: inline-block;text-align: left;border-right: 1px solid rgb(202, 202, 202);}
.OffDiv22{width: 20%;display: inline-block;text-align: center;}
.OffDiv23{width: 15%;display: inline-block;text-align: left;}
.OffDiv24{width: 10%;display: inline-block;text-align: center;}
.OffDiv21 p,.OffDiv22 p,.OffDiv23 p,.OffDiv24 p{font-size: 9pt;margin: 0;padding: 3px;}

.offinflabel{font-size:9pt;margin: 0;padding: 2px;border-bottom: 1px solid rgb(202, 202, 202);text-align: center;font-weight: bold;}
.offinftext{font-size:9pt;margin: 0;padding: 2px;text-align: left;}
.w20p{width: 20%;}
.w17{width: 17%;}
.w15{width: 15%;}
.w20{width: 20px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width: 100px;}
.w120{width: 120px;}
.h30{height: 30px;}
.p0{padding: 0 !important;}
.b2black{border: 2px solid #000 !important;}
.m20{margin: 10px 0 !important;}
.borderNone{border: none !important;}
.specMainTab{font-size:10pt;}
.SpecLabel{font-size: 9pt;text-align: left;font-weight: 600;margin: 0;padding: 5px;}
.Spectext{font-size: 9pt;text-align: left;margin: 0;padding: 5px;}
.Sheethead{padding:4px 0;color: #fff !important;font-size: 9pt;text-align: center;font-weight: bold;-webkit-print-color-adjust: exact; }
