<div id="DeletePopUp" class="modal fade pop-modal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header padpop">
          <h5 class="modal-title pull-left mt7">Are you sure you want to delete?</h5> 
          <div class="pull-right">
              &nbsp;
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="main-content text-right">
          <button class="btn btn-warning btn-sm" data-dismiss="modal" type="button">No, Cancel</button>
          <button class="btn btn-success btn-sm" ng-click="FromDelete(FinalDelete)" data-dismiss="modal" type="button">Yes, Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>