
@{
    Layout = null;
}


<html>
<head>
    
    <style>
     @@font-face {
        font-family: 'Neue Haas Unica Pro Light';
        src: url('../../NeueHaasUnicaPro-Medium.ttf')  format('truetype');
        font-weight: normal;
        font-style: normal;
      }
      @@font-face {
        font-family: 'Neue Haas Unica Pro Medium';
        src: url('../../NeueHaasUnicaPro-Medium.ttf')  format('truetype');
        font-weight: normal;
        font-style: normal;
      }
       
      body {
    font-family: 'Neue Haas Unica Pro Light';
    font-size: 12px;
    -webkit-print-color-adjust: exact !important;
  }



    </style>

</head>
<body>

    <div>
        <div>
            <div class="col-md-12">

                <table style='width: 100%;font-size: 10pt;'>
                    <tr>
                        <td><img src="/te-logo.jpg"></td>
                        <td>
                            Customers:<b>Total Environment Building Systems Private Limited</b><br />
                            "IMAGINE", 78, ITPL Main Road, EPIP Zone, Whitefield, Bangalore  560 066<br />
                            CIN No : U45202KA1996PTC020790&nbsp;&nbsp;GSTIN:<br />
                            Prjct/Fnc:<b>Corporate</b><br />
                            WBS Head:Business Process Re-Engineering
                        </td>

                    </tr>
                </table>

                <table style='width: 100%; border-collapse: collapse;font-size:10pt;'>
                    <tr><td style='border:1px solid rgba(202, 202, 202,1);text-align: center;background-color:#003366;color:#ffffff;'><b>CONTRACT AGREEMENT[Purchase Order]</b></td> <td style="border:2px  solid black;">No:09W 000032 R 02</td></tr>

                </table>

                <table style='width:100%;border-collapse: collapse;font-size:10pt;'>
                    <tr>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);'>PO Manager:</td>

                        <td colspan="2" width="20" style='border:2px solid rgba(202, 202, 202,1);'>[Name]</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td> </td>
                        <td> </td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>Date:</td>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);'>19-Sep-17</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>Revision</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>

                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'></td>
                    </tr>


                    <tr>
                        <td width="10" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="82" style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Vendors:</td>
                        <td colspan="2" width="680" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'><b>Arel Solutions India Private Limited</b></td>
                        <td width="45" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="45" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="60" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="125" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="125" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="76" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="2" width="130" style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Vendor Code:</td>
                        <td rowspan="3" width="100" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="111" style='border:2px solid rgba(202, 202, 202,1);'></td>

                    </tr>

                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'>2nd Cross Street,Sterling Road,Chennai</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Vendor CIN:</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>

                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td width="20" style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>GSTIN:</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;background-color:   rgb(210, 234, 255);'><b>Business Process Definition and Implementation</b></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'>
                            To review and understand the requirements, Design, Define and implement processes, protocols, systems and controls for the following, as described more
                            clearly in the "Scope of Work" under the Terms below
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" style='border:2px solid rgba(202, 202, 202,1);'><b>Total </b></td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);background-color: #FEE5AC;'><b>31,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>4,65,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);background-color: #FEE5AC;'><b>35,65,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Qtty</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Unit</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Rate</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Amount</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>IGST</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>SGST</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>CGST</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Taxes</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Gross</td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>1</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Site Administration</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Lmpsm</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,50,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,50,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>2</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Master Codes</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Lmpsm</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,50,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,50,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>3</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Asset Management</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Lmpsm</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>75,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,75,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>4</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Project Management</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>1</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Lmpsm</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>75,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>5,75,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>5</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Other Charges</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>Lmpsm</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,00,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,00,000</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>7.5%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>15,000</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>1,15,000</b></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);'>Ship To:</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Shiped From:</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: left;'></td>
                    </tr>
                    <tr>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);text-align: center;background-color: #4F94CD;color: white;'><b>PAYMENT TERMS</b></td>
                        <td colspan="2" style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>31,00,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>1</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Advance</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>31-Mar-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>2</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Within 30 days from the Date of Commencement</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>30-Apr-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>3</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Within 60 days from the Date of Commencement</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>30-May-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>4</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Within 90 days from the Date of Commencement</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>29-Jun-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>5</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Within 120 days from the Date of Commencement</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>29-Jul-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>6</b></td>
                        <td colspan="3" style='border:2px solid rgba(202, 202, 202,1);'>Within 150 days from the Date of Commencement</td>

                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>28-Aug-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>7</b></td>
                        <td colspan="7" style='border:2px solid rgba(202, 202, 202,1);'>On Completion and acceptance by the Customer,of <b>Site Adminstration</b> module</td>


                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>31-Oct-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>8</b></td>
                        <td colspan="7" style='border:2px solid rgba(202, 202, 202,1);'>On Completion and acceptance by the Customer,of <b>Material Masters</b> module</td>


                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>31-Oct-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>9</b></td>
                        <td colspan="7" style='border:2px solid rgba(202, 202, 202,1);'>On Completion and acceptance by the Customer,of <b>Asset Management</b> module</td>


                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>30-Nov-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>10</b></td>
                        <td colspan="7" style='border:2px solid rgba(202, 202, 202,1);'>On Completion and acceptance by the Customer,of <b>Project Management</b> module</td>


                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>31-Dec-16</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>10%</b></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'><b>3,10,000</b></td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>

                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: center;background-color: #4F94CD;color: white;'><b>EXCEPTION + SPECIAL</b> Terms and Conditions</td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);color: #4F94CD;'>These Special Terms & Conditions are to be read in conjunction with the Specific Terms & Conditions and the General Terms and Conditions. In case of a conflict between any of the clauses, the Special Terms and Conditions shall supercede.</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>1</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Definitions</b></td>
                    </tr>



                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>1</td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>a</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD; "><b>Built-up Area:</b></font> refers to the entire built area of the project including basements, parking areas, utility spaces, internal stairs, balconies and terraces and 50% of the area of service platforms</td>
                    </tr>


                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>b</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD; "><b>Company:</b></font> refers to all the Group Companies of the Customer</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>c</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD; "><b>Project:</b></font> refers to the construction of a building or group of buildings in any format - residential, commercial, mixed use or any other format. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>d</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD; "><b>Small, Medium and Large Projects:</b></font> here Small refers to project under 2,00,000 sq.ft. of Built-Up Area, Medium from 2,00,000 sq.ft. to 1million sq.ft. and Large would mean > 1 million sq.ft. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>2</b></td>

                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Scope of Work:</b> The scope of this Contract shall include the review and understanding of requirements, followed by design, definition and implementation of clear processes, protocols, systems and controls for the following: </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>a</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD; "><b>Site Administration:</b></font> construction site management systemsfor the Customer's typical construction projects, sepratately for a)Small b) Medium c) Large sizes, for all phases of the project from pre-construction until the complete snagging and handover of the project.  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>i</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Site Administration: construction site management systemsfor the Customer's typical construction projects, sepratately for a)Small b) Medium c) Large sizes, for all phases of the project from pre-construction until the complete snagging and handover of the project.  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>ii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Manpower Management - productivity, compliance, housing, safety, welfare  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Material Management - controls, wastage, receipt, acceptance, issue, handling, storage  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iv</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Document and Communication Management  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>v</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Procurement & Contract Administration   </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>vi</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Environment, Health & Safety -  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>vii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Quality - protocols, metrics, snagging, </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>viii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Budgets, BoQ and Project Costs </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>ix</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Housekeeping  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>x</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Customer Experience - basic facilities, service, safety and communication protocols, handover, post handover construction phase  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>xi</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Reporting - Schedules, Budgets, Production, </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>b</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><b>Master Codes:</b> Creation and implementation of Master codes for Materials: Services, Contracts & Assets  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>i</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Classification of all items in an organised manner in order to manage this information easily on an ongoing basis </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>ii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Root Definition for each item, specifications, quality metrics, unit of measurement, method of measurement </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Special Terms and Conditions for Purchase Orders or Work Orders - defining  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iv</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>System Solution - scoping the functional requirements, system specifications, UI & UX design, upload data, snagging, training and implementation, integration with SAP, Fugue and eBuild </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>c</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><b>Asset Management:</b><font style="color:#4F94CD;"> Procurement, management & maintenance of all the Customers' construction assets & equipment. </font></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>i</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Procurement process </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>ii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Set up of a Asset Register and Log book with definition and training on management of the register </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Review and definition of maintenance processes and frequency </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iv</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Set up and training of an asset maintenance team </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>v</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Creation of an Asset issue system - with or without an internal pricing mechanism</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>d</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'><font style="color:#4F94CD;"><b>Project Management:</b></font>complete project management systems for effective project delivery, sepratately for a)Small b) Medium c) Large sizes, for all phases of the project from pre-construction until the complete snagging and handover of the project, using a suitable project management software and integrating with other systems being used by the Company. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>i</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Operating Project Sites - Management & Scheduling</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>ii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Machine Craft - Internal Capability Lines - Furniture, Fenestration, Metalwork, Horticulture, Masonry, Flooring, Electrical</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iii</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Design - Architectural, Structural, Services, Interiors</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>iv</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Project Management Office</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>v</td>
                        <td colspan="11" style='border:2px solid rgba(202, 202, 202,1);'>Procurement Planning</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>3</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Date of Commencement</b>  the date of commencement of this Contract is 1st October, 2015 </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>4</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Fee Conditions:</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>a</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'>Taxes - Service Tax as applicable, shall be borne by the Customers</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>b</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'>Invoices shall be raised from time to time by the Vendor as per the above agreed stages and shall be reimbursed by the Customers within 30 days from the date of approval of the invoice. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>5</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Obligations of the Customers:</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>a</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'>To provide suitable workspace including furniture, electricity and refreshments </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>b</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'>Support and co-operation from the respective process owners to provide timely inputs, reviews and approvals </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'></td>
                        <td style='border:2px solid rgba(202, 202, 202,1);text-align: right;'>c</td>
                        <td colspan="12" style='border:2px solid rgba(202, 202, 202,1);'>To review all draft documents, work plans and reports from the Vendors and approve them if found satisfactory </td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);text-align: center;background-color: #4F94CD;;color: white;'><b>GENERAL</b> Terms and Conditions</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>1</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Parties:</b>This Contract is entered in to between the Customers and the Vendors and on the date as described above. Each Party is represented here in by their authorised signatory who has affixed their signature below. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>2</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Authority:</b>Each person signing thisAgreementrepresents that he or she has the legal capacity and authority to bind the respective party to this Agreement.  </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>3</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Language:</b>: The language for all communication, documentation, drawings and schedules, and reports and everythingelse in connection with this Contract shall be English alone.   </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>4</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Cooperation:</b>: Each Party shall do all such acts and things reasonably requested by the other Party to give effect to the Parties’ intentions under this Contract.Each Party here to shall cooperate fully with the other in all reasonable respects in order to accomplish the objectives of this Contract including diligence and good faith and using all commercially reasonable efforts in furtherance of this Contract.   </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>5</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Service Quality:</b> The Vendors shall ensure that their employees devote the required time, skill, labour and attention to detail in their duties in the interest of the Customers and use their best effort to promote the interests of the Customers.TheVendors shall ensure that the Services provided under this Contract are performed to the highest standards of professionalism and skill consistent with industry standards and in accordance with all relevant laws and regulations   </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>6</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Earned & Payable:</b> the Customers shall not be obligated to pay the Vendorsany amounts until such time the amounts are earned and payable. An amount shall be earned by the Vendors only after the acceptance by the Customers, of the material or service as per the agreed terms.   </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>7</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Continuity of Service:</b>In case of any interruption of Services and/or change in the Vendors'personnel on account of illness,termination and/or removal
                            from employment of any employee, the Vendors shall assign other employees immediately to ensure smooth continuity of Services without interruption.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>8</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Assignment:</b>The Vendors shall not, under any circumstances, assign their rights or delegate their obligations underthis Contract to any third party without prior written consent of the Customers. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>9</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Suspension</b> </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>a</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>The Customers may, at any time, instruct the Vendors to suspend progress on part or all of the Scope of Work. During such suspension, the Vendors shall protect, store and secure all material and completed work against any deterioration, loss or damage </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>b</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Suspension for Cause:</b> In case of Suspension for Cause, the Customers shall notify the cause for the suspension (including negligence, poor performance, poor quality of material or workmanship by the Vendors), and in such case no compensation shall be payable to the Vendors to the extent that the cause is notified.</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>c</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Suspension for Convenience:</b> In case of Suspension for Convenience, and if the suspension is beyond 180 days, then both the Parties shall discussfurther course towards extension of delivery.</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>d</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Resumption of Contract:</b> After the permission or instruction to proceed is given, the Contractors and the Engineer In-Charge shall jointly examine the Works affected by the suspension. The Contractors shall make good any deterioration or defect in or loss of the Works, which has occurred during the suspension. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>e</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>Suspension of this Contract shall be without prejudice to the acquired rights and obligations of the Customers existing at the date of suspension, including the right to take action in respect of the circumstances giving rise to suspension, and shall not affect any other rights and remedies available to the Customers under this Contract. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>10</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Termination</b></td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>a</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Termination for Convenience:</b>The Customers may, at any time, at their sole discretion, terminate any part of the scope of this Contract, or the entire Contract as a whole, without giving any reason by issuing one month’s prior written notice to the Vendor, specifying the effective date of such termination<br>In case of such termination, the Vendor shall be entitled to receive applicable payments, as were previously approved in writing by the Customers, accrued up to the effective date of termination only after they sign a general release of claims in favour of the Customers.. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>b</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Termination for Cause:</b> The Customers shall be entitled to terminate this Contract forthwith without any notice in case of poor performance, criminal offence, including fraud or negligence, committed by any of the employees or other contract staff of the Vendors and/or non-compliance with the terms of this Contract, which may cause any risk, loss or damage to the Customers. Further, if the Customers abstain from exercising their rights under this Clause for any period of time the same shall not be deemed to be a waiver. In case of such termination, the Vendors shall not be entitled to receive any payments and the Customers reserve their right to claim the compensation towards delay, additional cost involved in getting another vendor at the risk and cost of the Vendors.</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>c</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>Termination of this Contract shall be without prejudice to the acquired rights and obligations of the Customers existing at the date of termination,including the right to take action in respect of the circumstances giving rise to termination, and shall not affect any other rights and remedies available to the Customers under this Contract.</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>11</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Liability of the Vendors:</b> The Vendors shall observe best industry practices with reasonable skill and take utmost care in providing Services to the Customers under this Contract. The Vendor agrees that it shall be liable to indemnify the Customers in respect of any loss or damage suffered by the Customer as a result of negligence or any breach or non-performance by the Vendors of their obligations as agreed in this Contract. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>12</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Limitation of Liability:</b> The Customers shall not be liable to the Vendors for loss of profit,loss of any contract or of any indirect or consequential loss or damage which maybe suffered by the Vendors in connection with this Agreement,other than payment for completed Services.The total liability of the Customers shall not exceed the pro-rated Fees for completed Services under this Contract. </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>13</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'><b>Indemnity:</b>  The Vendors hereby undertake to indemnify and hold harmless the Customers, the Customers’ personnel and their respective agents, against and from all claims, charges, causes of action of any type, whether administrative, regulatory, at law or in equity, liabilities, damages, losses and expenses, including legal fees and expenses, in respect of: </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>a</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>Failure to fulfil any term of this Contract, or any allegation, claim or demand, which if true, would constitute the Vendors’ breach of any term, condition, covenant, representation or warranty under this Contract;</td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>b</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>Failure to comply with any applicable law, statute, regulation, ordinance, state or local law; </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>c</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            Failure to maintain the confidentiality of Confidential Information;
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>d</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            Negligent acts or failure to act;
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>e</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            Legal obligations to its employees;
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>f</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            Illegal or negligent use of its processes and methods used in providing the Services hereunder; and/or
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'>g</td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            Bodily injury, sickness, disease or death, of any person whatsoever arising out of or connected with or in the course of or by reason of the Vendors’ Services.<br>Provided that, the Vendor shall not be obligated to indemnify Customers to the extent that any such claims (excluding clauses (b), (e) and (f) above) arise solely because the Vendor were acting at the Customers’ express, specific written instructions. The Vendor shall not enter into any stipulation or settlement that in any manner admits liability of the Customers or imposes any obligation on the Customers
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>14</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <font style="color: red"><b>Intellectual Property and Confidential Information:</b>The Vendors acknowledge that through this engagement,they shall have access to information about the Customers,their activities and affairs,which is not available to the general public, as well as information accepted by the Customers from third parties under obligations of confidentiality(“ConfidentialInformation”).The Vendors agree that,during and after the term of this Contract,they shall not, without the written consent of the Customers, disclose or use or make available for anyone to use, exceptin the course of the performance of their duties here under or as required by law,any Confidential Information and/or any Personally Identifiable Information(“PII”)and the Vendors shall use their best efforts to prevent the unauthorized publication or misuse of any Confidential Information.</font>
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>15</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <font style="color: red"><b>Return of Confidential Information:</b>The Vendors agree to return to the Customers, all Confidential Information received or maintained by the Vendors,including all their employees, under this Contract within 07(Seven) days of any request by the Customers,otherwise not later than 07(Seven) days after the completion of the Term of this Contract or 07(Seven) days from the date of termination of this Contract.The Vendors further agree to destroy any copies of any other document or other record reproducing, containing or made from or with reference to the Confidential Information.</font>
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>16</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Entire Agreement and Modifications: </b> This Contract constitutes the entire agreement between the Parties with respect to the subject matter hereof and supersedes all prior agreements and understandings related to such subject matter. No change, variation or modification of any of the terms and conditions set forth herein shall be valid unless incorporated as an amendment to this Contract and signed by both the Parties.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>17</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Joint and Several: </b>  All the Parties signing this Agreement are jointly and severally liable for the performance of all it's terms.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>18</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Survival after Termination or Expiry: </b>  All provisions that may reasonably be interpreted as surviving the termination or expiry of this Contract shall survive such termination or expiry
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>19</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Relationship: </b>  : It is agreed and confirmed by the Parties that the Vendors have entered in to this Contract as an independent agency and under no circumstances shall they or their employees or sub-contractors be deemed to be the employees or agents of the Customers.The Vendors agree that they alone shall be liable in respect of any claim(including payment of statutory benefits, if any) arising out of the employment of their employees under this contract.No joint venture,partnership,employment or agency has been or is intended to be formed by this Contract.The Vendors hereby al sounder take to ensure that their employees shall not represent themselves as employees of the Customers nor create any contractual obligations between the Customers and any third party.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>No relationship or association with Customers' employees: </b>  The Vendors hereby represent and undertake that they do not have any relationship or association with any employee of any company, subsidiary or sister concern of the Total Environment Group.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>21</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Non-Solicitation:</b>   Unless otherwise agreed by the Parties in writing, the Parties agree not to hire or to solicit the employment of, or to get any work done through any personnel, employee or contractor of the opposite Party either directly or indirectly during the term of this Contract and for a period of 01 (One) year thereafter. In the event of breach of this clause, the Parties agree that the defaulting Party shall pay to the other Party, a sum equivalent to the last drawn 12 (Twelve) months compensation CTC (Cost to Company) by the concerned personnel, employee or contractor subject to a minimum amount of INR 10,00,000 (Rupees Ten Lakhs only) as liquidated damages. The Parties agrees that this amount is reasonable compensation on account of breach of Contract, and does not amount to penalty
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Non-exclusivity:</b>  Nothing herein is intended nor shall be construed as creating any exclusive arrangement between the Parties and this Contract shall not restrict the Parties from acquiring or providing similar,equal or like services or products from or to other entities or sources unless specifically agreed otherwise in the Specific Terms & Conditions
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>No Waiver:</b> The Parties here to agree that in the event of there being any delay or indulgence shown by either Party to the other, with regard to their obligations,and to the enforcement of any of the terms of this Contract under these presents,the same shall not be construed as awaiver on the part of the Party showing such indulgence or tolerance,and any suchi ndulgence or for bearance shall not be deemed as a waiver of the rights of such Party and the Parties shall be entitled to enforce such rights without prejudice to such indulgence or tolerance shown
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Force Majeure:</b>In the event of a Force Majeure condition which is beyond either Party’scontrol, if a Party is or is likely to be prevented from performing any of its obligations under this Contract,then the affected Party shall give notice to the other Party of the event or circumstances constituting Force Majeure and shall specify the obligations, the performance of which are likely to be prevented.Such notice shall be given within 14 days after the Party became aware, or should have become aware, of the relevant event or circumstance constituting Force Majeure. Each Party shall at all times use all reasonable end eavour to minimize any delay in the performance of this Contract as a result of Force Majeure. It is agreed between the Parties that the definition of Force Majeure shall include only war, hostilities, invasion, terrorist attack, riot, act of god and natural catastrophes such as earthquake, hurricane, typhoon or volcanic activity. Events such as strikes, power cuts, fire etc shall not qualify as Force Majeure.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Unenforceable Clauses& Severability:</b>: In the event of any provision of this Contract being declared, by any judicial or other competent authority,to be void, voidable, illegal or otherwise un enforceable,or if indications of the same are received by either of the Parties from any relevant competent authority,the Parties shall amend such provision in are as on able manner that achieves the intention of the Parties without illegality or at the discretion of the Parties it may be severed from this Contract. In such case,the remaining provisions of this Contract shall not be affected and shall remain valid and enforceable
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Governing Law:</b> Unless otherwise specified in the Special Terms and Conditiongs, the laws of Karnataka and of India shall govern the validity, performance and enforcement of this Agreement.
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Arbitration and Jurisdiction:</b> It is hereby clearly agreed between the Parties that, in the event of any dispute arising out of this Contract, the same shall be taken up for arbitration in accordance with the Arbitration and Conciliation Act, 1996.The seat of arbitration shall be Bangalore. Both Parties agree that the Courts in Bangalore alone, to the exclusion of all other Courts, shall have jurisdiction in respect of any and all litigation that may arise in respect of the arbitration
                        </td>
                    </tr>
                    <tr>
                        <td style='border:2px solid rgba(202, 202, 202,1);'><b>#</b></td>
                        <td colspan="13" style='border:2px solid rgba(202, 202, 202,1);'>
                            <b>Notices:</b> All Notices between the parties must be sent in writing and shall be effective only when sent to the receiving party's address as provided against the Customer and Vendor titles above,unless otherwise specified in the Special Terms&Conditions or later in writing by the concerned Party to the other Party
                        </td>
                    </tr>
                    <tr>

                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'>
                            <font style="color: #4F94CD;">This is a <b>LEGALLY BINDING AGREEMENT.</b> Please<b> READ IT CAREFULLY.</b> If you do not understand the impact of this Agreement, please consult your attorney <b> BEFORE </b>signing. </font>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>

                </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table style='width:100%;border-collapse: collapse;font-size:10pt;'>
                    <tr>
                        <td style='text-align: left;'>Authorised Signatory:</td>
                        <td style='text-align: right;'>PO Manager</td>
                        <td colspan="2" style='text-align: right;'>Authorised Signatory</td>
                    </tr>
                    <tr>
                        <td style='text-align: left;'>[Vendor] Arel Solutions India Private Limited</td>
                        <td colspan="3" style="text-align: right;">Total Environment Building Systems Private Limited [Customer</td>
                    </tr>
                    <tr>
                        <td colspan="14" style='border:2px solid rgba(202, 202, 202,1);'></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</body>
</html>